<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Remote Pi {{this.targetDeviceName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>
    Status: {{this.status_message}}
    </ion-card-content>
  </ion-card>

<h3>Sensors</h3>
<ion-list>
  <button ion-item *ngFor="let item of SensorList" (click)="openSensorData($event, item)">
    <h1> {{item.sensor_name}} : {{item.value}} </h1>
  </button>
</ion-list>
<ion-note small>
 {{this.dataTimestamp}}
</ion-note>

<h3>Relays (GPIO pins)</h3>
    <ion-list>

    <button ion-item *ngFor="let item of RelayList">
          <ion-label>{{item.relayDescription}}</ion-label><ion-toggle [disabled]="item.relayIsLocked" [(ngModel)]="item.relayState" (ionChange)="setRelayValue($evet,item)" ></ion-toggle>
    </button>

    </ion-list>

    <h3>Triggers (automatic functions)</h3>

    <ion-list *ngFor="let item of TriggerList">
        <ion-card ion-item>
          <ion-card-header>
              {{item.triggerDescription}}
          </ion-card-header>
          <ion-card-content>
            triggerID = {{item.triggerID}}
            Enabled:{{item.triggerState}}
            Parameters = {{item.triggerParameters}}
          </ion-card-content>
       </ion-card>
    </ion-list>

    <ion-card>
      <ion-card-header>
    Automated heating
    </ion-card-header>
      <ion-card-content>
      <ion-list>
        <ion-item>
             <ion-label>Enabled</ion-label><ion-toggle  checked="true"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label floating>delta t</ion-label>
          <ion-input type="text" [(ngModel)]="this.delta_t" ></ion-input>
        </ion-item>
        <ion-item>

          <ion-range min="0" max="50" step="1" pin="true" snaps="true" [(ngModel)]="warmth" color="danger">
            <ion-icon range-left small color="primary" name="thermometer"></ion-icon>
            <ion-icon range-right color="danger" name="thermometer"></ion-icon>
          </ion-range>
        </ion-item>
         </ion-list>

      </ion-card-content>
    </ion-card>





</ion-content>
