<ion-header>
  <ion-toolbar>
    <ion-title>Device List</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="solid"  [routerLink]="['/']" > < Back</ion-button>
   </ion-buttons>
   <ion-buttons slot="end">
     <ion-button fill="solid" (click)="newDevice()" >Add new device</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
     <ion-item *ngFor="let item of dataService.deviceList" >
        <ion-label>
          <h1 (click)="selectDevice($event, item)">{{item.deviceTitle}}</h1>
          <h2  (click)="selectDevice($event, item)"  class="item-note">
            {{item.deviceURL}}
          </h2>
          <h3  (click)="selectDevice($event, item)"  class="item-note">
            Status: {{this.deviceStatus[item.deviceID]}}
          </h3>
        </ion-label>
        <ion-button large clear slot="end" (click)="editDevice($event, item)">Edit</ion-button>
     </ion-item>
  </ion-list>
</ion-content>
