<ion-header>
  <ion-toolbar>
    <ion-title>{{this.AppConfig.deviceTitle}} </ion-title>
    <ion-buttons slot="end">
       <ion-button   fill="solid"  [routerLink]="['/list']" >device list</ion-button>
    </ion-buttons>
    <ion-progress-bar [hidden]="!any_LOADING" type="indeterminate"></ion-progress-bar>
    <ion-progress-bar [hidden]="any_LOADING" ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   <h3>Sensors</h3>
    <ion-list>
      <ion-item *ngFor="let item of SensorList">
        {{item.sensor_name}} : {{item.value}}
      </ion-item>
    </ion-list>
<ion-button size="default"  fill="outline"  [routerLink]="['/historic-data']" >Historic data <ion-icon name="analytics"></ion-icon> </ion-button>

    <h3>Relays (IO pins)</h3>
    <ion-list>
      <ion-item *ngFor="let item of RelayList" >
        <ion-label>{{item.description}} </ion-label>
          <ion-toggle slot="end" [disabled]="item.locked" [(ngModel)]="item.state"  [checked]="item.state" (ionChange)="setRelayValue(item)"  ></ion-toggle>
      </ion-item>
    </ion-list>


    <h3>Trigger scripts</h3>
    <ion-item-group *ngFor="let triggerItem of TriggerList">
        <ion-card>
            <ion-card-header>
        {{ triggerItem.description }}
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                     <ion-label>Enabled</ion-label><ion-toggle  [(ngModel)]="triggerItem.state" [checked]="triggerItem.state"  (ionChange)="toggleTriggerState($event,triggerItem)" ></ion-toggle>
                </ion-item>
                <ion-list-header>
                     Paramaters (click to change value)
                </ion-list-header>
                <ion-list>
                    <ion-item *ngFor="let item of triggerItem.parameters" >
                         <ion-button size="default" fill="outline" (click)="changeParameterAlert(item.id,item.name,item.par_value)" >{{item.name}} = {{item.par_value}}</ion-button>
                    </ion-item>
                </ion-list>
              </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-item-group>

  <h3>Advanced</h3>
  <ion-card (click)="status_log_alert()" >
      <ion-card-content>
      Status: {{this.status_message}}
      </ion-card-content>
  </ion-card>
    <ion-button fill="outline" target="_blank" href="{{AppConfig.deviceURL}}/phpLiteAdmin/phpliteadmin.php" >DB config</ion-button>

</ion-content>
